<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="span12 col1">
        {% snippet 'home/snippets/promoted.html' %}
      </div>
    </div>
    <div class="row row2">
      <div class="span6 col1">
        {% snippet 'home/snippets/search.html' %}
      </div>
      <div class="span6 col2">
        {% snippet 'home/snippets/stats.html' %}
      </div>
    </div>
  </div>
</div>
<div role="main">
  <div class="container">
    <div class="row row3">
      <div class="span12 col1">
<p>本サイトはData for Japan有志で運営されています。本サイトは本家の完全なミラーではありません。CKANで運用されていた部分 (http://data.go.jp/data/) の内容のみをある程度再現したものになります。元にしたデータは本家のCKANダンプファイルではなく、不完全な内容でした。一部Internet Archiveからデータをおこして使用していますが、Internet Archiveには代表的なページしか保存されていないので完全な再現にはなっていません。また、本家は日本語と英語で提供されていましたが、本サイトは日本語のみなど、様々な差異があります。</p>

<p>本サイトは本家の閉鎖に伴う暫定的な措置のため、本家が再開した後には閉じる予定です。その後は Data for Japanのほうで本家のデータを取り込むこと等を考えています。</p>
      </div>
    </div>
  </div>
</div>
